@font-face {
    font-family: Thin;
    src: url('OpenSansLight.ttf');
}

@font-face {
    font-family: Script;
    src: url('Aguafina.ttf');
}

#title {
    position: absolute;
    left: 100px;
    top: 15px;
    font-family: Script;
    font-size: 54px;
}

.screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#screen {
    background-color: white;
    color: #222222;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: lighter;
    transition: opacity 300ms;
    opacity: 0;
}

#masthead {
    position: fixed;
    top: 0px;
    left: 20px;
    width: 600px;
    height: 300px;
    background-image: url("../images/masthead.png");
    background-size: cover;
}

#navbar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 120px;
    background-color: #7a4;
    background: linear-gradient(to right, rgba(109,179,242,.1) 0%,rgba(84,163,238,.40) 15%,rgba(54,144,240,1) 55%,rgba(30,105,222,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
}

#wendy {
    width: 320px;
    height: 240px;
    background-image: url("../images/wendy.jpg");
    background-size: cover;
    margin: auto;
    margin-top: 30px;
    box-shadow: 8px 8px 15px #aaaaaa;
}

#email {
    position: absolute;
    top: 10px;
    right: 100px;
    font-family: Thin;
    color: white;
}

#twolf {
    position: absolute;
    bottom: 10px;
    right: 100px;
    font-family: Thin;
    color: white;
    font-size: 11px;
}

.topSpacer {
    height: 145px;
}

#grid {
    margin-top: 1px;
    text-align: center;
}

.portfolioLabel {
    margin-top: 50px;
    margin-bottom: 25px;
    font-family: Thin;
}

.portfolioFloat {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: #eee;
    border: 1px solid #333;
    //opacity: 0;
    //transition: opacity 333ms;
    box-shadow: 8px 8px 15px #aaaaaa;
}

.portfolioFloatImage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: no-repeat;
    background-position: center;
    background-size: contain;
}

.gridCell {
    display: inline-block;
    margin: 10px;
    width: 240px;
    height: 160px;
    background: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #f4f4f4;
    overflow: hidden;
    transition: transform 120ms;
}

.gridCell:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 4px 4px 8px #ccc;
}
